/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
    --ion-color-primary: #0054e9;
    --ion-color-primary-rgb: 0, 84, 233;
    --ion-color-primary-contrast: #fff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #004acd;
    --ion-color-primary-tint: #1a65eb;
    --ion-color-secondary: #0163aa;
    --ion-color-secondary-rgb: 1, 99, 170;
    --ion-color-secondary-contrast: #fff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #015796;
    --ion-color-secondary-tint: #1a73b3;
    --ion-color-tertiary: #6030ff;
    --ion-color-tertiary-rgb: 96, 48, 255;
    --ion-color-tertiary-contrast: #fff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #542ae0;
    --ion-color-tertiary-tint: #7045ff;
    --ion-color-success: #2dd55b;
    --ion-color-success-rgb: 45, 213, 91;
    --ion-color-success-contrast: #000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #28bb50;
    --ion-color-success-tint: #42d96b;
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
    --ion-color-danger: #c5000f;
    --ion-color-danger-rgb: 197, 0, 15;
    --ion-color-danger-contrast: #fff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #ad000d;
    --ion-color-danger-tint: #cb1a27;
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    --ion-color-medium: #636469;
    --ion-color-medium-rgb: 99, 100, 105;
    --ion-color-medium-contrast: #fff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #57585c;
    --ion-color-medium-tint: #737478;
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #fff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
}
.custom-modal {
    --border-radius: 10px;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --height: 52%;
    --width: 40%;
}
.category-modal {
    --border-radius: 10px;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --height: 31%;
    --width: 40%;
}
.product-modal {
    --border-radius: 10px;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --height: 45%;
    --width: 40%;
}
.role-modal {
    --border-radius: 10px;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --height: 30%;
    --width: 40%;
}
.user-modal {
    --border-radius: 10px;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --height: 40%;
    --width: 40%;
}
.position-modal {
    --border-radius: 10px;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --height: 31%;
    --width: 40%;
}
.employee-modal{
    --border-radius: 10px;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --height: 63%;
    --width: 40%;
}

.fix-container{
	max-width: 1000px; width: 100%;  margin: 0 auto;;	
}
.fixed-container{
	max-width: 1000px; width: 100%;  margin: 0 auto;  padding: 0 16px;
}
.fixed-container-cus{
	max-width: 700px; width: 100%;  margin: 0 auto;  padding: 0 16px;
}